h2 Регистрация нового пользователя.
br
br
form(method="post" action="/register")
    table 
        tr
            td Логин
            td 
                input(type="text" name="login")
        tr 
            td Почта
            td 
                input(type="text" name="email")
        tr 
            td Пароль
            td 
                input(type="password" name="password")
        tr 
            td
            td
                input(type="submit" value="Регистрация")