extends layout
block content 
    .logo-panel
        img(src="img/logo.png")
        //use(xlink:href="logo.svg")
    //.login-panel 
        img(src="img/register-img.png")
        include includes/login-form 
    .animation-panel
        include includes/animation